body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0px;
    padding: 0px;
}

ul {
    background-color: #0f52ba;
    color: #d6e6f2;
    list-style: none;
    padding: 15px;
    position: sticky;
    overflow: hidden;
}

li {
    display: inline-block;
    font-size: 30px;
    padding: 10px 20px;
    margin: 5px;
}

hr {
    color: #ff6b35;
    size: 10px;
}

.navigation {
    text-align: right;
    float: right;
    background-color: #0f52ba;
    border: 0px;
    padding: 10px;
}

.navigation:hover {
    background-color: #5b8cc9;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #fff;
    min-width: 130px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown-content a {
    color: #333;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}


.content {
    background-color: #d6e6f2;
    margin: 0px;
    padding: 50px 0px;
}

.search {
    size: 100px;
    text-align: center;
    background-color: #5b8cc9;
    color: black;
    margin: 5px 435px;
    padding: 20px 150px;
    border-radius: 15px;
    border: 3px solid #ff6b35;
    box-shadow:3px solid #ac6f59  #d6e6f2;
}

.tagline {
    text-align: center;
    margin: 0px;
    padding: 40px;
}

.quote {
    text-align: center;
    text-decoration: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .image1 {
    float: left;
} */

.homeimage1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
    height: auto;
    margin: auto;
    width: 700px;
    /* float: left; */
}

/* .image2 {
    float: right;
} */

.homeimage2 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
    height: auto;
    margin: auto;
    width: 700px;
    /* float: right; */
}

.products {
    text-align: center;
    font-weight: 100px;
    font-size: 45px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product:hover {
    transform: scale(1.10);
    transform-origin: center;
}

.product {
    background-color: #5b8cc9;
    border: 1px solid #ff6b35;
    padding: 10px;
    width: 250px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

.btn {
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: #ff6b35;
    color: white;
    border-radius: 10px;
} 

footer {
    background-color: #0f52ba;
    color: white;

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section-contact, .footer-section-link, .footer-section-social, .footer-section-privacy {
    flex: 1 1 200px;
    margin: 15px;
  }

.footer-section-link a {
    color: white;
}

  .footer-section-contact, .footer-section-link, .footer-section-social, .footer-section-privacy h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }


  .footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding: 15px;
    margin-top: 20px;
    font-size: 14px;
    /* color: #aaaaaa; */
    
  }



